<!--<form [formGroup]="employeeForm" (ngSubmit)="oneButtonClicked(employeeForm.value)"> Erlier one Button Clicked-->
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)">
  <input type="text" formControlName="email" placeholder="Email">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="Salary">
  <input type="submit" [disabled]="employeeForm.invalid" value="Submit">
</form>

Your new employee: <b>{{employeeForm.value.email}}</b>, age: <b>{{employeeForm.value.age}}</b>
with salary <b>{{employeeForm.value.salary}}</b> $ will be added to the system
