/* You can add global styles to this file, and also import other style files */
body{
  background-image: linear-gradient(to right, #d8e2dc , #95caf6);
  font-family: "Comic Sans MS",sans-serif;
  color: midnightblue;
}

.header{
  font-size: 45px;
}
.data{
  font-size: 20px;
}
