/* You can add global styles to this file, and also import other style files */
body{
  background-image: linear-gradient(to right, #d8e2dc , #95caf6);
  font-family: "Comic Sans MS",sans-serif;
}

.header{
  font-size: 45px;
}
.data{
  font-size: 20px;
}
.imagesContainer{
  display: inline-flex;
  /* or method from lowgular-course-entry below*/
  //display: inline-block;
}
.images{
  width: 250px;
  margin: 5px;
}
